<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<package name="com.bao.model" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/Product.xml" />
		<mapper resource="mybatis/Manager.xml" />
		<mapper resource="mybatis/Shopper.xml" />

	</mappers>
</configuration>